@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    user-select: none;
    letter-spacing: 3px;
}

:root {
    --branco: #fff;
    --cinzaclaro: #ccc;
    --cinzaescuro: #222;
    --preto: #000;
    --dourado: #daa520;
    --estrelas: #f67034;
}

#pagina {
    display: grid;
    grid-template: "conteudo" 85vh "sobre" 1fr "produtos" auto "footer" 28vh / 100vw;
    width: 100vw;
    min-height: 100vh;
    gap: 45px;
    position: relative;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 150px;
    z-index: 99;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    background: var(--branco);
}

.img {
    width: 30%;
    justify-content: start;
}

.img>img {
    width: 45px;
    margin-right: 5px;
}

.img>h1 {
    font-size: 2em;
    letter-spacing: 0px;
}

.img>h1 span {
    color: var(--dourado);
}

.login_cadastro {
    width: 130px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--preto);
    outline: none;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.login_cadastro:hover {
    background: var(--preto);
    color: #fff;
}

.nav {
    width: 50%;
}

.nav a {
    position: relative;
    color: var(--preto);
    text-decoration: none;
    padding: 0 15px;
    height: 100%;
}

.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 3px;
    background: var(--dourado);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

nav .carrinho-nav {
    position: relative;
    text-align: center;
    width: 40px;
}

nav .carrinho-nav i {
    font-size: 25px;
    color: var(--preto);
    cursor: pointer;
}

#quantidade {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    background: var(--dourado);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    font-size: 10px;
    padding: 2px 0 0 2px;
    pointer-events: none;
}

#inicio {
    width: 100vw;
    min-width: 650px;
    padding: 50px 150px;
    margin-top: 90px;
    display: grid;
    grid-template-areas: "t i" "m m";
    grid-template-columns: 650px 1fr;
    grid-template-rows: 85% 15%;
    grid-area: conteudo;
}

#inicio .bem-vindo {
    grid-area: t;
}

#inicio .texto {
    height: 80%;
    overflow-y: hidden;
}

#inicio .imagens {
    grid-area: i;
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 20px 0;
}

#inicio .img {
    width: 600px;
    height: 450px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

#inicio h2 {
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 30px;
    overflow-y: hidden;
}

#inicio h2 span {
    font-size: 50px;
    font-weight: 600;
    color: var(--dourado);
}

#inicio p {
    font-size: 16px;
    font-weight: 500;
    margin: 60px 0;
}

#inicio button {
    background: transparent;
    text-transform: uppercase;
    padding: 15px 40px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 25px;
    transition: .5s;
    color: var(--dourado);
    border: 2px solid var(--dourado);
}

#inicio button:hover {
    background: var(--dourado);
}

#inicio button a {
    color: var(--dourado);
    text-decoration: none;
}

#inicio button:hover a {
    color: var(--branco);
}

#inicio .midias-sociais.flex {
    justify-content: center;
    grid-area: m;
}

#inicio .midias-sociais div.flex {
    width: 40%;
    height: 60px;
    justify-content: space-around;
    background: var(--preto);
    overflow: visible;
    border-radius: 20px;
}

#inicio .icon {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    font-size: 22px;
    justify-content: center;
    text-decoration: none;
    transition: .5s;
    background: var(--preto);
}

#inicio .icon i {
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    color: var(--dourado);
}

#inicio .icon:hover {
    transform: translateY(-22px) scale(1.25);
}

#sobre {
    padding: 60px 150px;
    grid-area: sobre;
    justify-content: center;
    position: relative;
}

#sobre::after {
    content: '';
    position: absolute;
    top: 58%;
    left: 0;
    width: 100vw;
    height: 250px;
    background: var(--dourado);
    transform: translate(0, -50%);
    pointer-events: none;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.25);
}

#sobre h2,
#produtos h2 {
    width: 100%;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#sobre h2 span,
#produtos h2 span {
    color: var(--dourado);
}

.sobre-box {
    width: 800px;
    padding: 100px 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background: var(--branco);
    z-index: 90;
    outline: .1rem solid var(--cinzaclaro);
    outline-offset: -1.5rem;
    transition: .5s;
}

.sobre-box h3 {
    font-size: 35px;
    margin: 0 0 30px 0;
    text-align: center;
    font-weight: 700;
}

.sobre-box h3 span {
    color: var(--dourado);
}

.sobre-box p {
    letter-spacing: 5px;
    text-align: justify;
    padding: 0 20px;
    pointer-events: none;
}

#produtos {
    padding: 50px;
    grid-area: produtos;
    text-align: center;
}

#produto-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    padding: 50px 250px;
    gap: 80px;
}

#produtos .procurar {
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 32.666% 32.666% 32.666%;
    column-gap: 1%;
    row-gap: 10px;
    background: var(--dourado);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#produtos .procurar .item {
    position: relative;
    background: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--preto);
}

#produtos .procurar .item select,
#produtos .procurar .item input {
    width: 100%;
    padding: 5px;
    border: 0;
    outline: none;
    border-left: 1px solid var(--preto);
    background: var(--branco);
}

#produtos .procurar .item label {
    display: block;
    width: 48.5%;
    height: 100%;
    padding: 0 10px;
    color: var(--branco);
}

#produtos .procurar .item input[type=button] {
    background: var(--preto);
    color: var(--branco);
    font-weight: 700;
}

#produto-box .produto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--branco);
    padding: 3rem 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    outline: .1rem solid var(--cinzaclaro);
    outline-offset: -1.5rem;
    transition: .5s;
}

#produto-box .produto:hover {
    outline: .2rem solid var(--dourado);
    outline-offset: 0;
    transform: translateY(-25px);
}

#produto-box .produto img {
    height: 250px;
    transition: .5s;
}

#produto-box .produto:hover img {
    transform: scale(0.9);
}

#produto-box .produto h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    transition: .5s;
}

#produto-box .produto:hover h3 {
    font-weight: 800;
}

#produto-box .produto span {
    margin: 10px 0;
    color: var(--dourado);
    font-weight: 700;
}

#produto-box .produto .preco {
    font-size: 20px;
}

#produto-box .produto button {
    width: 90%;
    background: transparent;
    color: var(--dourado);
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 10px;
    border-radius: 10px;
    border: 2px solid var(--dourado);
    cursor: pointer;
    transition: .5s;
}

#produto-box .produto button:hover {
    background: var(--dourado);
    color: var(--branco);
}

footer.footer {
    background: var(--preto);
    grid-area: footer;
    color: var(--branco);
    padding: 50px 30px 5px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
}

footer h3 span {
    color: var(--dourado);
}

footer p {
    max-width: 1500px;
    margin: 10px auto;
    font-size: 14px;
}

footer .sociais {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer .sociais a {
    margin: 0 10px;
    color: var(--dourado);
    text-decoration: none;
}

footer .sociais a i{
    padding: 2px;
    font-size: 1.1rem;
}

.copyright {
    font-size: 14px;
}

#carrinho {
    width: 500px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    background: var(--preto);
    transition: .5s;
    z-index: 9999;
    padding-bottom: 10px;
    overflow: hidden;
}

#carrinho.ativo {
    left: calc(100% - 500px);
}

#carrinho .fechar {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50px;
    height: 50px;
    color: var(--branco);
    background: var(--dourado);
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    overflow-y: hidden;
}

#carrinho h2 {
    color: var(--dourado);
    font-size: 30px;
    margin-top: 80px;
    text-align: center;
    text-transform: capitalize;
}

#lista {
    width: 100%;
    height: calc(100vh - 290px);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: var(--branco);
    overflow-y: scroll;
    text-align: center;
}

#lista::-webkit-scrollbar {
    width: 12px;
    height: 100vh;
}

#lista::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
    background: var(--dourado);
}

#lista::-webkit-scrollbar-thumb {
    width: 12px;
    height: 100px;
    background: var(--branco);
    border-radius: 5px;
}

#lista li.carrinho-item {
    width: 450px;
    height: 100px;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
    padding: 10px 25px;
}

#lista .item-img {
    width: 75px;
    height: 75px;
}

#lista .opcoes {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#lista h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}

#lista h5 {
    margin: .5rem 0;
    letter-spacing: 1px;
    color: var(--dourado);
}

#lista .opcoes span {
    cursor: pointer;
}

#lista .quantidade-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#lista .quantidade-produto span {
    color: var(--dourado);
}

#lista .montante {
    color: var(--branco);
}

#carrinho .baixo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--preto);
    padding: 20px 0;
}

#carrinho .baixo h3 {
    color: var(--branco);
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

#carrinho .baixo button {
    width: 50%;
    height: 70px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 40px;
    background: var(--dourado);
    color: var(--branco);
}

#registro {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    width: 500px;
    height: 580px;
    background: transparent;
    border: 2px solid var(--preto);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    visibility: hidden;
    transition: transform .5s, top .5s;
    z-index: 99999;
    overflow-y: hidden;
}

#registro.ativo {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

#registro>.login,
#registro>.cadastro {
    height: 100%;
    overflow: hidden;
    padding: 40px;
    position: relative;
}

#registro form {
    width: 100%;
    height: 100%;
}

#registro h2 {
    width: 100%;
    font-size: 2.2em;
    text-align: center;
    font-weight: 900;
}

#registro form>.input {
    width: 100%;
    height: 50px;
    position: relative;
    margin: 12px 0;
    border-bottom: 3px solid var(--dourado);
}

#registro button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: var(--dourado);
    border-radius: 0 0 0 20px;
    font-size: 32px;
    font-weight: 900;
    cursor: pointer;
}

#registro .input input {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: transparent;
    transition: .5s;
    height: 80%;
    color: var(--dourado);
    letter-spacing: .5px;
    font-size: 1em;
    font-weight: 600;
}

#registro .input label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-15%);
    font-weight: 700;
    color: var(--dourado);
    z-index: 9;
    pointer-events: none;
    transition: .5s;
}

#registro .input input:focus~label,
#registro .input input:valid~label {
    position: absolute;
    top: 0;
}

#registro .input .icon {
    position: absolute;
    bottom: 0;
    right: 8px;
    z-index: 9;
    color: var(--dourado);
    font-size: 1.2em;
    line-height: 57px;
    pointer-events: none;
    transition: .5s;
}

#registro form .reelembrar {
    width: 100%;
    font-size: .9em;
    margin: -15px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#registro form .reelembrar input[type=checkbox] {
    accent-color: var(--dourado);
    width: 15px;
}

#registro form .reelembrar label {
    margin-left: 2px;
}

#registro form .reelembrar a {
    margin-left: 40px;
    color: var(--dourado);
    text-decoration: none;
    font-weight: 400;
}

#registro form .reelembrar a:hover {
    text-decoration: underline;
}

#registro form input[type=button] {
    width: 100%;
    background: var(--dourado);
    color: var(--branco);
    border-radius: 5px;
    padding: 8px 0;
    font-size: 18px;
    cursor: pointer;
    transition: .5s;
}

#registro .mudar-registro {
    width: 100%;
    text-align: center;
}

#registro .mudar-registro a {
    color: var(--dourado);
    text-decoration: none;
    font-weight: 700;
}

#registro .mudar-registro a:hover {
    text-decoration: underline;
}

#registro .cadastro .reelembrar {
    justify-content: start;
}

#registro .cadastro .reelembrar label {
    margin-left: 15px;
}

#body.ativo #pagina::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: var(--branco);
    opacity: .5;
    pointer-events: all;
    z-index: 990;
}

#body.ativo::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 12px;
    height: 100vh;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
    background: var(--preto);
}

::-webkit-scrollbar-thumb {
    width: 12px;
    height: 100px;
    background: var(--dourado);
    border-radius: 5px;
}
